@media screen and (max-width:1440px)
{
	.columns {
		left: 50%;
	}
}

@media screen and (max-width:1240px)
{
	.columns {
		left: 60%;
	}
}


@media screen and (max-width:1024px)
{
	.columns {
		left: 65%;
	}
}

@media screen and (max-width:768px)
{
	.columns {
		display: none;
	}

	.imgBody {
		display: none;
	}

	.introduction-container h1 {
		align-self: center;
	}

	.introduction-container h2 {
		align-self: flex-start;
	}

	.introduction-button {
		align-self: flex-start;
	}

	.introduction-container {
		padding-top: 64px;
		font-family: "Roboto";
		display: grid;
		grid-template-columns:  0.5fr 2fr 0.5fr;
		grid-template-rows: 0.1fr auto auto auto 0.1fr;
		min-height: 100vh;
		grid-template-areas:  ". . ." ". h1 ." ". h2 . " ". button ." ". . .";
	}

	.about-paragraph-text .first {
		padding-top: 1em;
	}

	.about-paragraph p {
		padding-left: 2em;
		padding-bottom: 1em;
	}

	.about-paragraph-link {
		background-position: right;
	}

	.about-paragraph-link p {
		padding-bottom: 0em;
	}

	.about-container {
		font-family: "Open Sans";
		display: grid;
		grid-template-columns: 0.5fr 4fr 0.5fr;
		grid-template-rows: 1fr 4fr 0.3fr;
		grid-template-areas: ". h2 ." ". paragraph ." ". . .";
		min-height: 810px;
	}
	
}

@media screen and (max-width:425px)
{
	.columns {
		left: 65%;
	}
}