@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:ital,wght@0,900;1,900&display=swap");
/* line 30, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* line 31, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 32, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
:focus, :active {
  outline: none;
}

/* line 33, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
a:focus, a:active {
  outline: none;
}

/* line 34, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
aside, nav, footer, header, section {
  display: block;
}

/* line 35, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

/* line 36, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 37, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  /* line 37, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

/* line 45, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
input, button, textarea {
  font-family: "Open Sans";
}

/* line 46, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
input::-ms-clear {
  display: none;
}

/* line 47, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
button {
  cursor: pointer;
}

/* line 48, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 49, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
a, a:visited {
  text-decoration: none;
}

/* line 50, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
a:hover {
  text-decoration: none;
}

/* line 51, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
ul li {
  list-style: none;
}

/* line 52, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
img {
  vertical-align: top;
}

/* line 53, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* line 57, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.row:after {
  display: block;
  content: '';
  clear: both;
}

/* line 58, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.rub:after {
  content: '₽';
}

/* line 60, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 62, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
ol.counter {
  list-style-type: none;
  counter-reset: item;
}

/* line 63, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

/* line 64, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

/* line 68, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 69, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 71, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.table {
  display: table;
  font-size: 0;
  width: 100%;
}

/* line 74, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.trow {
  display: table-row;
}

/* line 75, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.cell {
  display: table-cell;
}

/* line 76, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.cell.full {
  width: 100%;
}

/* line 79, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 80, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.ibg img {
  display: none;
}

/* line 83, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

/* line 84, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.video video, .video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 87, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.videobg video, .videobg iframe, .videobg object, .videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

/* line 90, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext {
  overflow: hidden;
}

/* line 91, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more {
  cursor: pointer;
}

/* line 92, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more i {
  font-style: normal;
}

/* line 93, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more i:first-child {
  display: block;
}

/* line 94, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more i:last-child {
  display: none;
}

/* line 97, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more.active i {
  font-style: normal;
}

/* line 98, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more.active i:first-child {
  display: none;
}

/* line 99, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.moretext__more.active i:last-child {
  display: block;
}

/* line 104, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.graystyle {
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

/* line 105, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

/* line 107, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.slick-slider {
  position: relative;
}

/* line 108, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

/* line 109, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* line 110, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.slick-slider .slick-track {
  position: relative;
  width: 100%;
}

/* line 111, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.slick-slider .slick-slide {
  overflow: hidden;
  float: left;
  position: relative;
}

/* line 122, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.tab__item {
  display: none;
}

/* line 123, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.tab__item.active {
  display: block;
}

/* line 126, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.mirror {
  transform: scale(-1, 1);
}

/* line 128, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.nicescroll-rails {
  z-index: 1000 !important;
}

/* line 131, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.gm-style-iw-t {
  opacity: 0;
}

/* line 132, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

/* line 133, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon button {
  display: none !important;
}

/* line 134, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon:after {
  display: none !important;
}

/* line 136, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon-style {
  display: none;
}

/* line 137, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

/* line 145, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

/* line 146, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon-content.gm-style-iw:after {
  display: none !important;
}

/* line 149, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/template.scss */
.baloon-close {
  top: 18px !important;
}

/* line 8, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: linear-gradient(180deg, #dddddd 0%, white 100%);
}

/* line 14, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.container {
  max-width: 1110px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1122px) {
  /* line 14, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  /* line 14, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  /* line 14, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/* line 23, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about {
  display: flex;
  min-height: calc(100vh - 108px);
  width: 100%;
  position: relative;
  margin-top: 108px;
}

/* line 33, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about .container {
  position: relative;
  display: grid;
  grid-template-columns: 0.9fr 0.1fr 1fr;
  grid-template-rows: 1fr auto 0.3fr auto 1fr auto 2fr;
  grid-template-areas: ". . ." "title title ." ". . ." "subtitle . ." ". . ." " button . .";
}

@media (max-width: 1122px) {
  /* line 33, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .about .container {
    grid-template-rows: 1fr auto 0.1fr auto 0.3fr auto 1fr;
    grid-template-areas: ". . ." "title title title" ". . ." "subtitle subtitle subtitle" ". . ." " button button button";
  }
}

/* line 44, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about__ibg {
  position: absolute;
  z-index: 0;
  right: 2%;
  top: 17%;
}

@media (max-width: 1122px) {
  /* line 44, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .about__ibg {
    display: none;
  }
}

/* line 54, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about__title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  position: relative;
  z-index: 10;
}

/* line 60, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about__subtitle {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: subtitle;
  position: relative;
  z-index: 10;
}

/* line 66, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about__button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: subtitle;
  position: relative;
  z-index: 12;
  width: 201px;
}

/* line 71, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.about__button-text {
  padding: 1.875rem 1.875rem;
}

@media (min-width: 1122px) {
  /* line 23, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .about {
    min-height: calc(570px + 80px);
  }
}

@media (max-width: 992.98px) {
  /* line 23, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .about {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
  }
}

@media (max-width: 767.98px) {
  /* line 23, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
  .about {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
  }
}

/* line 88, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.list {
  background-image: linear-gradient(90deg, #eeeeee 0%, white 100%);
}

/* line 93, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.list .container {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* line 99, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.list__title {
  margin: 6.25rem auto 5rem auto;
}

/* line 103, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.list__rank {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

/* line 109, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.list__sample {
  margin: 15px 0;
}

/* line 118, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.rank__fraction {
  font-size: 4.0625em;
  font-family: "Roboto";
  color: #d5d5d5;
  font-weight: bold;
  font-style: italic;
}

/* line 126, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.rank__fraction-left {
  position: absolute;
  right: 0;
}

/* line 131, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area {
  display: flex;
  position: relative;
}

/* line 134, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__info {
  display: flex;
  position: relative;
  z-index: 2;
  border-radius: calc(3.5625rem/2);
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 0.8px;
  font-weight: 800;
  height: 57px;
}

/* line 148, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__info-gold {
  color: #ceae39;
  background-image: linear-gradient(90deg, #16140a 0%, #484027 100%);
  width: 108px;
}

/* line 158, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__info-silver {
  color: #868da0;
  background-image: linear-gradient(90deg, #121414 0%, #3e4247 100%);
  width: 124px;
}

/* line 167, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__info-bronz {
  color: #c27f41;
  background-image: linear-gradient(90deg, #16100a 0%, #483a27 100%);
  width: 128px;
}

/* line 176, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__info-common {
  color: #c4c4c4;
  background-color: #5c5c5c;
  width: 178px;
}

/* line 182, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__info-trash {
  color: #c45e5e;
  background-image: linear-gradient(90deg, #160a0a 0%, #482727 100%);
  width: 124px;
}

/* line 191, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__strip {
  position: absolute;
  top: 0.625rem;
  right: -86px;
  border-radius: 10px;
  z-index: 1;
  background-color: #d7d7d7;
  width: 110px;
  height: 10px;
}

/* line 202, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__strip-center {
  width: 130px;
  height: 12px;
  top: 1.4375rem;
  right: -120px;
}

/* line 209, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__strip-center-left {
  left: -120px;
}

/* line 213, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__strip-left {
  left: -86px;
}

/* line 217, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.area__strip-down {
  top: 2.375rem;
}

/* line 221, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.sample {
  display: flex;
  align-items: center;
}

/* line 224, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.sample__position {
  font-size: 4.0625em;
  font-family: "Roboto";
  color: #d5d5d5;
  font-weight: 800;
  position: absolute;
  left: 0;
  font-style: italic;
  transform: matrix(0.999957734, 0, 0, 1, 0, 0);
}

/* line 235, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.sample__wpgAdv {
  background-image: linear-gradient(-180deg, #f0f0f0 0%, white 100%);
  box-shadow: 0px 1px 1.02px 0.98px rgba(0, 0, 0, 0.15);
  margin-left: 155px;
}

/* line 245, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 6fr 0.7fr 1.3fr;
  grid-template-rows: 125px;
  grid-template-areas: "avatar info votesButtons votesCount";
  max-width: 855px;
  border-radius: 0 70px 70px 0;
}

/* line 254, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__avatar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: avatar;
  border-radius: 50%;
  width: 105px;
  height: 105px;
  margin: 10px;
}

/* line 262, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__briefInfo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #2b2b2b;
  line-height: 1.5;
  transform: matrix(0.999957734, 0, 0, 1, 0, 0);
  margin: 18px 0 22px 22px;
}

/* line 277, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__name a {
  font-size: 1.125em;
  color: #2b2b2b;
  font-weight: 800;
  transition: 0.25s;
}

/* line 282, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__name a:hover {
  color: #000;
}

/* line 288, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__genre {
  font-size: 0.9375em;
  font-weight: Semibold;
}

/* line 293, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__genre-value {
  color: #c6c6c6;
}

/* line 300, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__votesCount {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: votesCount;
}

/* line 319, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.wpgAdv__voteButtons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: votesButtons;
}

/* line 333, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.title {
  font-size: 2.625em;
  font-family: "Roboto";
  color: #2b2b2b;
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
}

/* line 341, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.subtitle {
  font-size: 1.0625em;
  font-family: "Open Sans";
  color: #2b2b2b;
  line-height: 1.3;
  font-weight: 600;
}

/* line 348, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.button {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  grid-area: button;
}
@media (max-width: 1122px){
  .about__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about__subtitle {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .about__button {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .button {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

/* line 354, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.button__text {
  position: relative;
  z-index: 2;
  font-size: 1.25em;
  font-family: "Roboto";
  font-weight: 600;
  color: #111111;
  line-height: 0.95;
  transition: 0.15s all;
}

/* line 363, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.button__text:hover {
  color: #fff;
}

/* line 368, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.button__background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  right: 0;
}

/* line 376, ../../../../../../Workplace/WEB/OpenServer/domains/WPG/#source/scss/voting.scss */
.button__background-hover {
  opacity: 0;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  right: 0;
  transition: 0.15s all;
}
